.hero{
 
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url(../../dist/images/Gulp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 768px){
        background-image:none;
        
     }

    &__bg{
        background: linear-gradient(180deg, #170b2f 8.99%, rgba(0, 0, 0, 0.63) 56.77%, #000 92.71%);
        width: 100%;
        height: 100%;
        display: flex;
        place-content: center;
        @media(max-width: 768px){
            background:black;
        }    
        img{
            align-self: center;
            max-width: 200px;
            width: 100%;
            height: 200px;
            @media(max-width: 768px){
                max-width: 350px;
            }

        }
    
    }
}